@import url('fonts.css');
tei-div[type=textpart] {
  font-family: Junicode, Cardo, serif;
  font-size: 175%;
}
tei-div[type=textpart][subtype=canon] {
  font-family: Junicode, Cardo, serif;
}
tei-div[type=textpart][subtype=dictum] {
  font-family: Junicode, Cardo, serif;
  font-style: italic;
}
tei-div[type=textpart][subtype=inscription] {
  font-family: Junicode, Cardo, serif;
  font-style: italic;
}
tei-div[type=textpart][subtype=rubric] {
  color: red;
  font-family: Junicode, Cardo, serif;
  font-style: italic;
}
