tei-titleStmt > tei-author {
  display: block;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1em;
}
tei-titleStmt > tei-editor {
  display: block;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1em;
}
tei-TEI tei-head {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
}
tei-div {
  font-family: 'Open Sans', sans-serif;
}
tei-div > tei-head {
  font-size: 130%;
  text-indent: -0.5em;
}
tei-div > tei-div > tei-head {
  font-size: 115%;
}
tei-div > tei-div > tei-div > tei-head {
  font-size: 115%;
}
tei-div > tei-div > tei-div > tei-div > tei-head {
  font-size: 115%;
}
tei-titleStmt > tei-title {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 175%;
  margin-bottom: 1em;
}
